body {
    background: linear-gradient(aqua, Lime);
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}

.PP p {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    border: 5px outset black;
    box-shadow: 3px ;
    padding: 100px;
    text-align: center;
}

.HH h2{ 
         margin-top: 140px;
        text-align: center;
        
}

button {
    font-size: 40px;
    background: linear-gradient(aqua,white);
    border-radius: 20px;
    border: 3px outset black;
    position: absolute;
    left: 15px;
    top: 10px;
    transition: 0.5;
    }
    
    button:hover{
        transform: scale(1.1);
        border-radius: 10px;
    }

.G1 img {
    position: absolute;
    left: 0px;
    top: 250px;
}

.G3 img{
     position: absolute;
     top: 490px;
     left: 570px;
     right: 570px;
}

.G4 img{
    position: absolute;
    top: 490px;
    left: 1180px;
}

.G5 img{
    position: absolute;
    top:250px ;
    left: 1180px ;
}

.G6 img{
    position: absolute;
    top: 0px ;
    left: 1180px ;
}

.G7 img{
    position: absolute;
    top: 0px;
    left: 620px;
    right: 570px;
}